<h1 class="name">Megan Dunbar</h1>

<div class="titles">
  <h3 class="first-title">junior front-end developer</h3>
  <h3 class="second-title">freelance writer</h3>
</div>

<div class="body-text">
  <p>
    I’m a recent graduate of <a target="_blank" href="http://theironyard.com/locations/greenville/">The Iron Yard’s Greenville, SC campus</a>, where I learned to build <a target="_blank" href="http://mldunbar.github.io/2.2-responsive/sushi.html">responsive</a>, <a target="_blank" href="http://mldunbar.github.io/8.1-bookmarks/">interactive</a>, <a target="_blank" href="http://mldunbar.github.io/bicycle-app-2/">fully-functional</a> web apps with JavaScript using tools such as <a target="_blank" href="#">Handlebars</a>, Bourbon, and Neat, add-ons like jQuery and underscore; all within Ember.js and Backbone.js frameworks.
  </p>
  <p>
    I have a familiarity with Gulp, Bower, and Node. I’ve also worked extensively with Parse as a back-end server.
  </p>
  <p>
    Before this, I worked as a line cook at a local grocery store where more than half our food is from less than 150 miles away, supporting local farmers.
  </p>
  <p>
    I also lived in Vietnam for a while, working in an international office for a British real estate company and traveling a part of the globe I’d never seen before. I hiked across Spain once.
  </p>
  <p>
    I’m a graduate of Louisiana State University with a degree in English and a strong focus on journalism.
  </p>
  <p>
    When I’m not in front of my computer playing with new programming languages, you can find me keeping up a blog, hiking, and trying to play guitar.
  </p>
</div>
