<h1 class="subpage-heading">Get in touch with me!</h1>

<ul class="contact-links">
  <li>
    <a target='_blank' href=“mailto:meganleedunbar@gmail.com?subject=Hello”>
      <i class="fa fa-envelope-o fa-5x mail-link"></i>
    </a>
  </li>
  <li>
    <a target='_blank' href="https://twitter.com/meganleedunbar">
      <i class="fa fa-twitter-square fa-5x twitter-link"></i>
    </a>
  </li>
  <li>
    <a target='_blank' href="https://www.linkedin.com/profile/view?id=237893150&trk">
      <i class="fa fa-linkedin-square fa-5x linkedin-link"></i>
    </a>
  </li>
</ul>
