<h1 class="subpage-heading">My experience</h1>

<div class="body-text">
  <p class="par1">
    I've been coding actively since May 2015
    and my progress is extensively documented on Github,
    from my first failed attempts at a calculator
    to my final capstone project and beyond.
  </p>
  <p class="par2">
    There are links to a few of my favorite projects on the main page
    of my portfolio. Please dig through their commit histories and discover
    all the steps to what made each project I've created.
  </p>
  <p class="par3">
    Before May, I led a nomadic lifestyle, <a href="http://hikehydratesleep.blogspot.com/">hiking across Spain</a>,
    living in Vietnam for a while, working in an multicultural office
    and traveling a part of the globe I’d never seen before.
  </p>

  <p class="par2">
    I returned to Greenville, SC to build a life near family in the Blue Ridge
    foothills, and am working as a line cook at a
    <a href="http://swamprabbitcafe.com/">grocery store</a> that supports local farmers
    and the surrounding community.
  </p>

  <p class="par1">
    I’m a graduate of Louisiana State University with a degree in English
    and a strong focus on journalism. Some of my older articles and opinion
    columns can be found <a href="http://www.lsureveille.com/search/?t=article&s=start_time&sd=desc&d1=3+years+ago&q=megan+dunbar">here</a>.
  </p>
  <p class="par2">
    I also attended an <a href="http://www.scgsah.org/">arts-focused boarding school</a> where
    I studied creative writing and began getting some poetry
    and fiction works published.
  </p>
</div>
