<ul>
  <li><a href="#index">Main</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="file://localhost/Users/megandunbar/Desktop/TIY/Resume-Dev-Draft.pdf">Resume</a></li>
  <li><a href="https://github.com/mldunbar">Github</a></li>
  <li><a href="#experience">Experience</a></li>
</ul>
