<ul class="header-links">
  <li class="index-link"><a href="">Main</a></li>
  <li class="contact-link"><a href="#contact">Contact</a></li>
  <li class="resume-link"><a href="file://localhost/Users/megandunbar/Desktop/TIY/Resume-Dev-Draft.pdf">Resume</a></li>
  <li class="github-link"><a target='_blank' href="https://github.com/mldunbar">Github</a></li>
  <li class="experience-link"><a href="#experience">Experience</a></li>
  <li class="blog-link"><a target='_blank' href="https://meganleedunbar.wordpress.com/">Blog</a></li>
</ul>
