<h1 class="name">Megan Dunbar</h1>

<div class="titles">
  <h3 class="first-title">junior front-end developer</h3>
  <h3 class="second-title">freelance writer</h3>
</div>

<div class="body-text">
  <p class="par1">
    I’m a graduate of <a target="_blank" href="http://theironyard.com/locations/greenville/">The Iron Yard’s Greenville, SC campus</a>,
  </p>
    <p class="par2">
      where I learned to build <a target="_blank" href="http://mldunbar.github.io/2.2-responsive/sushi.html">responsive</a>, <a target="_blank" href="http://mldunbar.github.io/8.1-bookmarks/">interactive</a>, <a target="_blank" href="http://mldunbar.github.io/bicycle-app-2/">fully-functional</a> web apps
    </p>
    <p class="par3">
      with JavaScript using tools such as <a target="_blank" href="#">Handlebars</a>, Bourbon, and Neat,
    </p>
    <p class="par2">
      add-ons like jQuery and underscore; all within Ember.js and Backbone.js frameworks.
    </p>
  <p class="par1">
    I have a familiarity with Gulp, Bower, and Node.
  </p>
  <p class="par2">
    I’ve also worked extensively with Parse as a back-end server.
  </p>
  <p class="par3">
    Before this, I worked as a line cook at a <a href="http://swamprabbitcafe.com/">grocery store</a> that supports local farmers.
  </p>
  <p class="par2">
    I also lived in Vietnam for a while, working in an multicultural office
  </p>
  <p class="par1">
    and traveling a part of the globe I’d never seen before. I hiked across Spain once.
  </p>
  <p class="par2">
    I’m a graduate of Louisiana State University with a degree in English and a strong focus on journalism.
  </p>
  <p class="par3">
    When I’m not in front of my computer playing with new programming languages,
  </p>
  <p class="par2">
    you can find me keeping up a blog, hiking, and trying to play guitar.
  </p>
</div>
