<h1 class="name">Megan Dunbar</h1>

<div class="titles">
  <h3 class="first-title">junior front-end developer</h3>
  <h3 class="second-title">freelance writer</h3>
</div>

<div class="body-text">
  <div class="par1">
    <i class="fa fa-laptop fa-5x wow bounceInRight"></i>
    <p>
      I’m a graduate of
      <a target="_blank" href="http://theironyard.com/locations/greenville/">The Iron Yard’s Greenville, SC campus</a>,
        where I learned to build
        <a target="_blank" href="http://mldunbar.github.io/2.2-responsive/sushi.html">responsive</a>,
        <a target="_blank" href="http://mldunbar.github.io/8.1-bookmarks/">interactive</a>,
        <a target="_blank" href="http://mldunbar.github.io/bicycle-app-2/">fully-functional</a> web apps.
      </p>
  </div>
<div class="par3">
  <i class="fa fa-code-fork fa-5x wow bounceInLeft"></i>
  <p>
    I used JavaScript with tools such as <a target="_blank" href="#">Handlebars</a>,
    Bourbon, and Neat, add-ons like jQuery and underscore;
    all within Ember.js and Backbone.js frameworks.
  </p>
</div>
  <div class="par1">
    <i class="fa fa-server fa-5x wow bounceInRight"></i>
    <p>
      I have a familiarity with Gulp, Bower, and Node.
      And have also worked extensively with Parse
      as a back-end server.
    </p>
  </div>
<div class="par3">
  <i class="fa fa-picture-o fa-5x wow bounceInLeft"></i>
  <p>
    When I’m not in front of my computer
    <a href="https://www.codecademy.com/megdunbar">playing with new languages</a>,
    you can find me <a href="https://meganleedunbar.wordpress.com/"> keeping up my blog</a>, hiking, and
    <a href="https://www.youtube.com/watch?v=nVcBNBxjdas">trying to play guitar</a>.
  </p>
</div>

</div>
