<h1 class="subpage-heading"><span>My projects</span></h1>

<div class="body-text">

  <div class="container">
    <div class="par1">
      <a target="_blank" href="http://mldunbar.github.io/bicycle-app-2/"><img src="images/./brl.png" class="wow bounceInRight"></a>
      <p>
        My final project, Ride and Rack, can be found by
        clicking on this image. It focuses on user input
        to identify bicycle racks, rental locations, and
        safe routes around town with a notes page.
      </p>
    </div>
  </div>

    <div class="container">
      <div class="par3">
        <a target="_blank" href="http://mldunbar.github.io/2.2-responsive/sushi.html"><img src="images/./responsive.png" class="wow bounceInLeft"></a>
        <p>
          Click on the image to see a responsive, mobile-first
          project completed during my first few weeks at The Iron Yard.
        </p>
      </div>
    </div>

    <div class="container">
      <div class="par1">
        <a target="_blank" href="http://mldunbar.github.io/8.1-bookmarks/"><img src="images/./authors.png" class="wow bounceInRight"></a>
        <p>
            Click on the image to interact with a
            basic, fully-functional CRUD app.
        </p>
      </div>
    </div>

    <div class="container">
      <div class="par3">
        <a target="_blank" href="http://mldunbar.github.io/3.2-color-clock/"><img src="images/./clock.png" class="wow bounceInLeft"/></a>
        <p>
          This image will lead you to a basic jQuery
          clock app coded to change color
          based on time.
        </p>
      </div>

    </div>

</div>
