<h1 class="subpage-heading"><span>My projects</span></h1>

<div class="body-text">
  <div class="container">
    <div class="par1">
      <a target="_blank" href="http://mldunbar.github.io/2.2-responsive/sushi.html"><i class=" wow bounceInRight"></i></a>
      <p>
        Click on the image to see a basic example of responsiveness.
      </p>
    </div>
  </div>

  <div class="container">
    <div class="par3">
      <a target="_blank" href="http://mldunbar.github.io/8.1-bookmarks/"><i class=" wow bounceInLeft"></i></a>
      <p>
          This is interactive with a Parse backend.
      </p>
    </div>
  </div>

  <div class="container">
    <div class="par1">
      <a target="_blank" href="http://mldunbar.github.io/bicycle-app-2/"><i class=" wow bounceInRight"></i></a>
      <p>
        This is a fully-functional web app.
      </p>
    </div>
  </div>

</div>
