.body-text{
  font-size: 1.25em;
  font-family: 'Rockwell', 'EB Garamond', serif;
}

.body-text a {
  color: rgbA(0, 0, 128, 1);
  font-weight: 900;
}

.body-text .par1{
  @include outer-container;
  @include shift(1);
  @include span-columns(4);
  margin-bottom: 10%;
}

.body-text .par2{
  @include outer-container;
  @include shift(4);
  @include span-columns(4);
  margin-bottom: 10%;
}

.body-text .par3{
  @include outer-container;
  @include shift(6);
  @include span-columns(4);
  margin-bottom: 10%;
}
