.par1 i {
  margin-left: 150%;
  margin-top: -100%;
}

.par2 i {
  margin-left: -100%;
  margin-top: -150%;
}

.par3 i {
  margin-left: -120%;
  margin-top: -150%;
}

.par3 .fa-picture-o {
  margin-left: -180%;
  margin-top: -150%;
}
