.cover {
  color: $base-background-color;
}

.name {
  @include outer-container;
  @include span-columns(10);
  @include shift(2);
  font-size: 12em;
  margin-top: 5%;
  color: $base-background-color;
}

.titles {
  @include outer-container;
  @include span-columns(8);
  @include shift(6);
  font-size: 3em;
  margin-bottom: 10%;
  color: $base-background-color;
}

.second-title{
  @include outer-container;
}

.subpage-heading{
  @include outer-container;
  @include shift(4);
  font-size: 4em;
  padding-top: 5%;
  padding-bottom: 5%;
}

.subpage-heading span {
  border-radius: 10px;
}
