/* .cover {
  width: 100%;
  height: 350px;
  z-index: -40;
  background-image: url('https://images.unsplash.com/photo-1433733071959-30cd185d14a8?q=80&fm=jpg&s=2bb5c5d8e0b1e5a0c994fc660681348e');
  color: #FEF8DA;
} */

.name {
  @include outer-container;
  @include span-columns(9);
  @include shift(1.5);
  text-align: center;
  font-size: 12em;
  margin-top: 5%;
  color: $base-font-color;
  background-color: $base-background-color;
}

.titles {
  @include outer-container;
  @include span-columns(9);
  @include shift(1.5);
  text-align: center;
  font-size: 3em;
  margin-bottom: 10%;
  color: $base-font-color;
  background-color: $base-background-color;
}

.second-title{
  @include outer-container;
}

.subpage-heading{
  @include outer-container;
  @include shift(4);
  font-size: 4em;
  padding-top: 5%;
  padding-bottom: 5%;
}
