.header-links{
  @include outer-container;
  margin-top: 2%;
  background-color: $base-background-color;
  border-radius: 5px;
}

.header-links li{
  display: inline-block;
  margin-left: 1%;
  font-size: 1.5em;
}
