.name {
  @include outer-container;
  @include span-columns(9);
  @include shift(1.5);
  text-align: center;
  font-size: 12em;
  margin-top: 5%;
  color: $base-font-color;
  background-color: $base-background-color;
}

.titles {
  @include outer-container;
  @include span-columns(9);
  @include shift(1.5);
  text-align: center;
  font-size: 3em;
  margin-bottom: 10%;
  color: $base-font-color;
  background-color: $base-background-color;
}

.second-title{
  @include outer-container;
}

.subpage-heading{
  @include outer-container;
  @include shift(4);
  font-size: 4em;
  padding-top: 5%;
  padding-bottom: 5%;
}

.subpage-heading span {
  border-radius: 10px;
}
