.par1 img {
  position: absolute;
  margin-top: -2.5%;
  margin-left: 35%;
  width: 400px;
  height: 200px;
}

.par3 img {
  position: absolute;
  margin-top: -5%;
  margin-left: -40%;
  width: 400px;
  height: 200px;
}
