.par1 img {
/*   @include outer-container;
@include span-columns(4); */
  position: absolute;
  margin-top: -2.5%;
  margin-left: 35%;
  height: 180px;
  max-width: 350px;
  vertical-align: middle;
}

.par3 img {
  /* @include outer-container;
  @include span-columns(4); */
  position: absolute;
  margin-top: -5%;
  margin-left: -40%;
  height: 180px;
  max-width: 350px;
  vertical-align: middle;
}
