@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: 'Amatic SC';

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: rgbA(255, 248, 220, .8);

//Imports
@import 'reset';
@import 'heading';
@import 'body-text';
@import 'header';
@import 'contact';
@import 'experience';
@import 'projects';
@import 'animate';
@import 'links';
@import 'hover-min';

body {
  @include outer-container;
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-font-color;
/*   background-image: url('/../images/mp-10.png');
 */}

#app {
  height: 100%;
  width: 100%;
}

.par1{
  background-color: $base-background-color;
  padding: 2%;
  border-radius: 5px;
}

.par3{
  background-color: $base-background-color;
  padding: 2%;
  border-radius: 5px;
}

i{
  background-color: $base-background-color;
  padding: 2%;
  border-radius: 50%;
}
